@import 'tailwindcss';

@layer base {
  :root {
    --background: #121212;
    --foreground: #ffffff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
